<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://requirejs.org/docs/release/2.3.5/minified/require.js"></script>
        <script>
            
            
        </script>    
    </head>
<body>
        <h1>Hello User !!!</h1>
        <h3>You are visiting from :</h3>
        <ul>
            <li>IP Address : {{ip}}</li>
            <li>Country: {{ location_country }}</li>
        </ul>
</body>
</html>